.application-list-app-name {
  font-weight: 600;
}

.distance {
  margin-left: 8px;
}

.double-distance-right {
  margin-right: 16px;
}

.hero {
  height: 300px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.panel {
  margin: 10px;
}

.cell {
  height: 50px;
}

.bt {
  border-top: 1px solid #f5f5f5;
}

.br {
  border-right: 1px solid #f5f5f5;
}

.bb {
  border-bottom: 1px solid #f5f5f5;
}

.bl {
  border-left: 1px solid #f5f5f5;
}

.gridrow {
  margin-bottom: 0px;
}